*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid lightgray; 
}
.hamburger{
    display: none;
    font-size: 2rem;
    padding: 5px 10px;
}
.doc-pointer{
    margin-right: 10px;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left{
    display: flex;
margin-top: 10px;
}
.icons{
    display: flex;
    align-items: center;
    color: rgb(54, 53, 53);
}
.icons p{
    font-size: 1.2em;
    font-weight:550;

}
#fa{
    padding: 7px;

}

.menu-bar{
    display: flex;
    margin-bottom: 10px;
   
}
.hover{
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 10px;
}

.pointer{
    cursor: pointer;
}

.right-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.logo{
border-radius: 20px;
border:1px solid lightgray;
margin-right: 20px;
}

.share{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
}


/*------------------------------------------------------------MEDIA QUERY FOR MOBILE PHONES-----------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .menu-bar{
        flex-direction: column;
    }
    .request{
        display: none;
    }
    .share{
        display: none;
    }
    #fa{
        display: none;
    }
    .logo{
        margin-top:-80px;

    }
    .hamburger{
        display: inline;
    }
}